<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="twoWayDataBindingExample.js"></script>
</head>
<body ng-app='app'>
	<div ng-controller='twoWayDataBindingCtrl'>
		<div>
			The value of a is {{a}}. <input type="text" ng-model='a'>
			<br/>
			The value of b is {{b}}. <input type="text" ng-model='b'>
			<br/>
		</div>

		The sum is {{sum}}
		<br>
		<button ng-click='doSum()'>Calculate</button>
	</div>
</body>
</html>